<!DOCTYPE html>
<html>
	<head>
		<title>Login - Finease</title>
	</head>
	<body>
		<h1>Login Page</h1>
		<form action="login" type="post">
			<table>
				<tbody>
					<tr>
						<td>Login</td>
						<td><input type="email" name="login"></input></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password"></input></td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Login"></input>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>