/*
ContactDetails.css
*/

div.contact-details {
	color: #6B8F8F;
}

div.contact-details div.contact-details-header {
	height: 40px;
	border-bottom: 1px solid #000000;
	border-bottom: 1px solid #D6E0E0;
}

div.contact-details div.contact-details-header div.contact-details-header-name-col {
	padding: 10px 50px 10px 20px;
	font-size: 15px;
	font-weight: bold;
}

div.contact-details div.contact-details-header div.contact-details-header-menu {
	position: absolute;
	padding: 5px;
	right: 0px;
}

div.contact-details div.contact-details-header div.contact-details-header-menu button {
	color: #6B8F8F;
	padding: 3px 10px;
	background-color: #F2F4F7;
	border-color: #E7E7E7;
	border-radius: 3px;
}

div.contact-details div.contact-details-header div.contact-details-header-menu button:hover, div.contact-details div.contact-details-header div.contact-details-header-menu button:focus {
	background-color: #F8F8F8;
	border-color: #D6D5D5;
}

div.contact-details div.contact-details-header div.contact-details-header-menu button i {
	font-size: 20px;
}

div.contact-details div.contact-details-container-col {
	padding: 10px;
	overflow-y: auto;
}

div.contact-details div.contact-details-container-col img.contact-details-pic {
	padding: 3px;
	max-height: 106px;
}

div.contact-details div.contact-details-container-col input {
	height: 30px;
	padding: 7px;
	border-radius: 10px;
	border: 1px solid #CCCCCC;
}

div.contact-details div.contact-details-container-col input:focus {
	outline: none;
}

div.contact-details div.contact-details-container-col div.contact-field-row {
	padding: 3px 0px 3px 40px;
}

div.contact-details div.contact-details-container-col div.phone-number.contact-field-row {
	padding: 3px 46px 3px 40px;
}

div.contact-details div.contact-details-container-col div.contact-field-row div.field-icon {
	position: absolute;
	left: 0px;
	font-size: 20px;
	padding: 1px 17px;
}

div.contact-details div.contact-details-container-col ul.phone-number-list {
	list-style-type: none;
	margin: 0px;
}

div.contact-details div.contact-details-container-col ul.phone-number-list div.field-icon {
	padding-left: 10px;
}

div.contact-details div.contact-details-container-col div.contact-field-row div.add-remove-phone-number-div, div.contact-details div.add-remove-address-div {
	position: absolute;
	right: 0px;
	font-size: 20px;
	padding: 1px 0px;
	margin: -2px 0px;
}

div.contact-details div.add-remove-address-div {
	padding: 1px 10px;
}

div.contact-details div.contact-details-container-col div.contact-field-row div.add-remove-phone-number-div button {
	color: #6B8F8F;
	padding: 3px 10px;
	background-color: #F2F4F7;
	border-color: #E7E7E7;
	border-radius: 3px;
}

div.contact-details div.add-remove-address-div button:focus, div.contact-details div.add-remove-address-div button {
	color: #6B8F8F;
	padding: 3px 10px;
	background-color: #F2F4F7;
	border-color: #E7E7E7;
	border-radius: 3px;
}

div.contact-details div.address-list-div div.address-last-row {
	padding: 3px 46px 3px 40px;
}

div.contact-details div.address-list-div button.address-type-list {
	border: none;
	background: none;
	padding: 0px;
}

div.contact-details div.address-list-div button.address-type-list:focus {
	outline: none;
}

div.contact-details div.address-list-div div.address-type-dropdown ul.dropdown-menu {
	min-width: 30px;
}

div.contact-details div.address-list-div div.address-type-dropdown ul.dropdown-menu li a {
	padding: 10px;
	color: #6B8F8F;
}

div.contact-details div.address-list-div div.address-type-dropdown ul.dropdown-menu li a:hover, div.contact-details div.address-list-div div.address-type-dropdown ul.dropdown-menu li a:focus {
	color: #FFFFFF;
}

div.contact-details div.address-list-div div.address-type-dropdown ul.dropdown-menu li a i {
	font-size: 18px;
}

div.contact-details div.contact-details-container-col div.contact-field-row div.add-remove-phone-number-div button:focus, div.contact-details div.contact-details-container-col div.contact-field-row div.add-remove-phone-number-div button:hover {
	background-color: #F8F8F8;
	border-color: #D6D5D5;
}

div.contact-details div.add-remove-address-div button:focus, div.contact-details div.add-remove-address-div button:hover {
	background-color: #F8F8F8;
	border-color: #D6D5D5;
}

div.contact-details div.contact-details-container-col ul.address-list-list {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

div.contact-details div.contact-details-container-col div.contact-details-1-1 {
	padding: 3px 0px 3px 5px;
}

div.contact-details div.contact-details-container-col div.contact-details-1-2 {
	padding: 3px 0px 3px 5px;
}

div.contact-details div.contact-details-container-col div.contact-details-1-3 {
	padding: 3px 0px 3px 5px;
}

div.contact-details div.contact-details-container-col hr {
	margin: 5px 0px;
	border-color: #D5E0E0;
}

div.contact-details div.contact-details-container-col div.city {
	padding: 0px 3px 0px 0px;
}

div.contact-details div.contact-details-container-col div.state {
	padding: 0px 0px 0px 3px;
}