div.third-pane-wrapper {
	/* background-color: #FFE2E2;
	height: 400px; */
}

div.first-pane-wrapper {
	/* background-color: #E2E8FF;
	height: 400px; */
}

div.second-pane-wrapper {
	/* background-color: #D5FFDF;
	height: 400px; */
}